:root {
  --primary: #20123a;
  --primary-rgb: 32, 18, 58;
  --secondary: #ff7e00;
  --secondary-rgb: 255, 126, 0;
  --tertiary: white;
  --tertiary-rgb: 255, 255, 255;
  --contrast: black;
  --contrast-rgb: 0, 0, 0;
}
