$spacing-xss: 0.61rem;
$spacing-xs: 0.69rem;
$spacing-sm: 0.78rem;
$spacing-md: 0.88rem;
$spacing-base: 1rem; // Ratio of 8/9
$spacing-lg: 1.25rem;
$spacing-xl: 1.4rem;
$spacing-2xl: 1.575rem;
$spacing-4xl: 1.71rem;
$spacing-6xl: 1.92rem;

$navbar-height: 4rem;

$font-extra-light: 200;
$font-regular: 400;
$font-bold: 700;

$z-top: 200;
$z-navbar: 100;
$z-base: 50;
$z-back: 0;
